node_modules

vendor

.git

.github

.env

.env.*

storage/logs/*

storage/framework/cache/*

storage/framework/sessions/*

storage/framework/views/*

bootstrap/cache/*

tests

phpunit.xml

.idea

.vscode

*.log