@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 991.98px) {
	.navbar-collapse {
		display: none;
	}

	.navbar-collapse.show {
		display: block;
	}
}

@media (min-width: 992px) {
	.navbar-collapse {
		display: flex;
		flex-basis: auto;
	}

	.navbar-toggler {
		display: none;
	}
}
